<div class="full" id="home-banner">
  <img src="images/home-banner.jpg" width="100%" />
  <img src="images/home-banner2.jpg" width="100%" />
  <img src="images/home-banner3.jpg" width="100%" />
  <img src="images/home-banner4.jpg" width="100%" />
	<img src="images/home-banner5.jpg" width="100%" />
	<img src="images/home-banner6.jpg" width="100%" />
	<img src="images/home-banner7.jpg" width="100%" />
</div>

<div class="full">
  <div class="center">

    <section id="home-word">
      <hgroup>
        <h1>Meet the new word-of-mouth, Social Endorsement</h1>
        <h2>TagKast is the best way to capture social endorsements from up 50% of your patrons</h2>
      </hgroup>

      <section class="tech">
        <%= image_tag 'home-item1.png' %>
        <h1 class="one">Snap Pictures</h1>
        <p>Capture professional photos at your venue and transfer them to our propietary tablet. Use our photographers or yours.</p>
      </section>

      <section class="app">
        <%= image_tag 'home-item2.png' %>
        <h1 class="two">Tag Photos</h1>
        <p>Guest tag, post and comment on branded photos that beam instantly to Facebook, while still at the event!</p>
      </section>

      <section class="social">
        <%= image_tag 'home-item3.png' %>
        <h1 class="three">Go Viral</h1>
        <p>These branded photos post to the profile pages of your guest, creating viral photos that double as advertisements.</p>
      </section>

    </section>

  </div>
</div>

<section id="home-track" class="full">
  <div class="light center">
    <section class="main">
      <%= image_tag 'home-track2.png' %>
     </section>
    </div>
  </div>
</section>

<section id="home-brands" class="full">
  <h1>We're trusted by awesome brands!</h1>
  <%= image_tag 'clients.png' %>
</section>

<script>
  var c = 0;

  $('#home-banner img:gt('+c+')').hide().css('opacity', 0);

  function next() {
    c = (c + 1) % $('#home-banner img').length;

    $('#home-banner img:visible').animate({
      opacity: 0
    }, {
      complete: function () {
        $(this).hide();
        $('#home-banner img:eq('+c+')').show().animate({ opacity: 1 });
      }
    });
  }

  setInterval(next, 7000);
</script>