<div class="full">
  <div class="center">

    <div id="pricing-form">
      <% if flash.any? %>
        <% flash.each do |k,v| %>
          <div class="alert <%= (k.to_s == 'notice')? 'alert-info': 'alert-danger alert-error' %> fade in"><%= v %>
            <span class="close">x</span>
          </div>
        <% end %>
      <% end %>

      <h1>Contact us for pricing</h1>
        <%= form_tag("/pricing", :method => :post) do %>
        <%= text_field_tag 'name', nil, :class => 'name' %>
        <%= text_field_tag 'email', nil, :class => 'email' %>
        <%= text_field_tag 'what', nil, :class => 'what' %>
        <input class="submit" type="submit" value="Submit"/>
      <% end %>
    </div>

    <div id="pricing-info">
      <section class="location">
        <h1>GoFoto Headquarters</h1>
        <p>600 W. Chicago Ave.</p>
        <p>Chicago IL, 60654</p>
        <p>312-806-7979</p>
      </section>
    </div>

  </div>
</div>

<script>
  $('#pricing-form input')
    .focus(function () {
      $(this).addClass('focus');
    })
    .blur(function () {
      if (!$(this).val()) {
        $(this).removeClass('focus');
      }
    })
    .each(function () {
      if (!$(this).val()) {
        $(this).removeClass('focus');
      }
      else {
        $(this).addClass('focus');
      }
    });
  $(".alert").click(function(){
    $(this).fadeOut();
  });

</script>

