<!DOCTYPE html>
<html>
<head>
  <title>TagKast Social Broadcasting - Experiential Marketing Technology</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="full">
    <header id="main-header" class="center">

      <%= link_to image_tag('logo.png', :alt => 'GoFoto Logo'), root_path, :title => 'GoFoto Home', :id => 'logo' %>

      <nav>
        <ul>
          <li class="pricing<% if params[:action] == 'pricing' %> active<% end %>">
            <%= link_to 'Pricing & Solutions', pricing_path %></li>

          <li class="clients<% if params[:action] == 'clients' %> active<% end %>">
            <%= link_to "Who's using Tagkast?", clients_path %></li>
          
          <li class="why<% if params[:action] == 'why_social_endorsement' %> active<% end %>">
            <%= link_to 'Why TagKast', why_social_endorsement_path %></li>
          
        </ul>
      </nav>

    </header>
  </div>

  <%= yield %>

</body>
</html>
