<!DOCTYPE html>
<html>
<head>
  <title>Gofoto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" %>
	
	<%= javascript_include_tag "jquery-ui-1.8.13.custom.min" %>
  <%= javascript_include_tag "jquery.tn3.min" %>
	<%= javascript_include_tag "tn3.TransitionInspector" %>
	
  <%= csrf_meta_tags %>

	
</head>
<body>

  <div class="full">
    <header id="main-header" class="center">

      <%= link_to image_tag('logo.png', :alt => 'GoFoto Logo'), root_path, :title => 'GoFoto Home', :id => 'logo' %>

      <nav>
        <ul>
          <li class="pricing<% if params[:action] == 'pricing' %> active<% end %>">
            <%= link_to 'Pricing', pricing_path %></li>
          <li class="clients<% if params[:action] == 'clients' %> active<% end %>">
            <%= link_to 'Clients', clients_path %></li>
          <li class="technology<% if params[:action] == 'technology' %> active<% end %>">
            <%= link_to 'Technology', technology_path %></li>
          <li class="why<% if params[:action] == 'why_social_endorsement' %> active<% end %>">
            <%= link_to 'Why Social Endorsement', why_social_endorsement_path %></li>
          <li class="how<% if params[:action] == 'how_it_works' %> active<% end %>">
            <%= link_to 'How It Works', how_it_works_path %></li>
        </ul>
      </nav>

    </header>
  </div>

  <%= yield %>

</body>
</html>
